
/*----------------------------------------------*/
/*              GENERAL STUFF                   */
/*----------------------------------------------*/

.headerWrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 50px;
  background-color: white;
  margin-top: 10px;
}



/*----------------------------------------------*/
/*                    NAME                      */
/*----------------------------------------------*/

.name {
  display: inline-block;
  position: absolute;
  left: 5%;
}

/*----------------------------------------------*/
/*                    LOGO                      */
/*----------------------------------------------*/

.logo {
  width: 9%;
  display: inline-block;
  position: absolute;
  left: 45.5%;
  bottom: -100%;
}

.logo:hover {
    width:12%;
    display: inline-block;
    position: absolute;
    left: 44%;
    bottom: -133%;
    z-index:999;
}

/*----------------------------------------------*/
/*                 NAVIGATION                   */
/*----------------------------------------------*/

.menu {
  display: inline-block;
  position: absolute;
  right: 5%;
}

.menu li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
}

a {
  text-decoration: none;
}

#workTab:hover {
  padding: 10px 10px 7px 10px;
  background-color: pink;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 20%;
}

#workTab {
  padding: 10px 10px 6px 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;

}



/*----------------------------------------------*/
/*       ANNOYING LOGO  MEDIA QUERIES           */
/*----------------------------------------------*/

// for smaller screens
@media (max-width: 1200px){

  .logo {
    width: 9%;
    display: inline-block;
    position: absolute;
    left: 45.5%;
    bottom: -80%;
  }

  .logo:hover {
      width:12%;
      display: inline-block;
      position: absolute;
      left: 44%;
      bottom: -100%;
      z-index:999;
  }

}

// for really small screens

@media (max-width: 900px){

  .logo {
    width: 9%;
    display: inline-block;
    position: absolute;
    left: 45.5%;
    bottom: -60%;
  }

  .logo:hover {
      width:12%;
      display: inline-block;
      position: absolute;
      left: 44%;
      bottom: -80%;
      z-index:999;
  }

}

// for super small screens

@media (max-width: 650px){

  .logo {
    width: 9%;
    display: inline-block;
    position: absolute;
    left: 45.5%;
    bottom: -40%;
  }

  .logo:hover {
      width:12%;
      display: inline-block;
      position: absolute;
      left: 44%;
      bottom: -55%;
      z-index:999;
  }

}

// for larger screens

@media (min-width: 1500px){

  .logo {
    width: 9%;
    display: inline-block;
    position: absolute;
    left: 45.5%;
    bottom: -130%;
  }

  .logo:hover {
      width:12%;
      display: inline-block;
      position: absolute;
      left: 44%;
      bottom: -150%;
      z-index:999;
  }

}

// for even larger screens

@media (min-width: 1800px){

  .logo {
    width: 9%;
    display: inline-block;
    position: absolute;
    left: 45.5%;
    bottom: -160%;
  }

  .logo:hover {
      width:12%;
      display: inline-block;
      position: absolute;
      left: 44%;
      bottom: -190%;
      z-index:999;
  }

}

// for really large screens

@media (min-width: 2200px){

  .logo {
    width: 9%;
    display: inline-block;
    position: absolute;
    left: 45.5%;
    bottom: -200%;
  }

  .logo:hover {
      width:12%;
      display: inline-block;
      position: absolute;
      left: 44%;
      bottom: -220%;
      z-index:999;
  }

}
