<main>

  <header>
  </header>

  <div class="headerWrapper">
    <p class="name">Yvonne Hayes</p>
      <ul class="socialMedia">
        <li><a href="https://github.com/YvonneHayes" target="_blank"><i class="icon-github-sign"></i></a></li>
        <li><a href="https://www.linkedin.com/in/yvonne-hayes"><i class="icon-linkedin-sign"></i></a></li>
        <li><a href="https://twitter.com/KeepingYWeird"><i class="icon-twitter-sign"></i></a></li>
      </ul>
    <a ui-sref="home" id="logoTab"><img src="../../img/logo6.png" alt="logo" class="logo"></a>
    <ul class="menu">
      <li id="workTab"><i class="icon-desktop icon"></i></i><a ui-sref="work" id="workTabText">WORK</a></li>
      <li id="aboutTab"><i class="icon-female icon"></i><a ui-sref="about ">ABOUT</a></li>
      <li id="contactTab"><i class="icon-pencil icon"></i><a ui-sref="contact">CONTACT</a></li>
    </ul>
  </div>

</main>
