// ul, li {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }
//
// .menu {
//   background: white;
//   height: 30px;
//   padding: 0 10px;
// }
//
// .menu > li {
//   display: inline-block;
//   width: 100px;
//   line-height: 30px;
// }
//
// .sub-menu {
//   position: absolute;
//   display: none;
//   background-color: white;
//   padding: 5px;
// }
//
// .sub-menu > li {
//   display: block;
//   cursor: pointer;
// }
//
// li:hover .sub-menu {
//   display: block;
// }

/*----------------------------------------------*/
/*              GENERAL STUFF                   */
/*----------------------------------------------*/

.navbar {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 55px;
  background-color: white;
}



/*----------------------------------------------*/
/*                    NAME                      */
/*----------------------------------------------*/

.name {
  display: inline-block;
  position: absolute;
  left: 5%;
}

/*----------------------------------------------*/
/*                    LOGO                      */
/*----------------------------------------------*/

.logo {
  width: 9%;
  display: inline-block;
  position: absolute;
  left: 45.5%;
  bottom: -100%;
}


/*----------------------------------------------*/
/*                 NAVIGATION                   */
/*----------------------------------------------*/

.menu {
  display: inline-block;
  position: absolute;
  right: 5%;
}

.menu li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
}
