<main>

  <header>
  </header>

  <div class="headerWrapper">
    <p class="name">Yvonne Hayes</p>
      <ul class="socialMedia">
        <li><i class="icon-github-sign"></i><a href="#"></a></li>
        <li><i class="icon-linkedin-sign"></i><a href="#"></a></li>
        <li><i class="icon-twitter-sign"></i><a href="#"></a></li>
      </ul>
    <a ui-sref="home" id="logoTab"><img src="../../img/logo6.png" alt="logo" class="logo"></a>
    <ul class="menu">
      <li id="workTab"><i class="icon-code"></i><a ui-sref="work" id="workTabText">WORK</a></li>
      <li id="aboutTab"><a ui-sref="about">ABOUT</a></li>
      <li id="contactTab"><a ui-sref="contact">CONTACT</a></li>
    </ul>
  </div>

</main>
